{% include card.html

title="Raivo OTP"
image="/assets/img/tools/raivo-otp.png"
description="A native, lightweight and secure time-based (TOTP) & counter-based (HOTP) password client built for iOS"
website="https://github.com/raivo-otp/ios-application"
ios="https://apps.apple.com/us/app/raivo-otp/id1459042137?mt=8"
github="https://github.com/raivo-otp/ios-application"
nocountry=""

%}

{% include card.html

title="Aegis Authenticator"
image="/assets/img/tools/aegis.png"
description="Aegis Authenticator is a free, secure and open source app for Android to manage your 2-step verification tokens for your online services."
website="https://getaegis.app/"
android="https://play.google.com/store/apps/details?id=com.beemdevelopment.aegis"
nocountry=""
github="https://github.com/beemdevelopment/Aegis"

%}

{% include card.html

title="andOTP"
image="/assets/img/tools/andOTP.png"
description="andOTP is an open source two-factor authentication App for Android 4.4+."
website="https://github.com/andOTP/andOTP"
android="https://github.com/andOTP/andOTP#downloads"
nocountry=""
github="https://github.com/andOTP/andOTP"

%}

{% include card.html

title="Authy"
image="/assets/img/tools/Authy.jpg"
description="Go beyond the password and protect yourself from hackers and account takeovers."
website="https://authy.com/"
mac="https://authy.com/download/"
ios="https://itunes.apple.com/us/app/authy/id494168017"
android="https://play.google.com/store/apps/details?id=com.authy.authy"
windows="https://authy.com/download/"
nocountry=""

%}