{% include card.html

title="Authy"
image="/assets/img/tools/Authy.jpg"
description="Go beyond the password and protect yourself from hackers and account takeovers."
website="https://authy.com/"
mac="https://authy.com/download/"
ios="https://itunes.apple.com/us/app/authy/id494168017"
android="https://play.google.com/store/apps/details?id=com.authy.authy"
windows="https://authy.com/download/"
nocountry=""

%}

{% include card.html

title="FreeOTP"
image="/assets/img/tools/FreeOTP.png"
description="FreeOTP is another open source two-factor authentication application for systems utilizing one-time password protocols. Availabe on both Android and iOS devices."
website="https://freeotp.github.io/"
ios="https://itunes.apple.com/us/app/freeotp-authenticator/id872559395?mt=8"
android="https://freeotp.github.io/"
nocountry=""
github="https://github.com/freeotp"

%}

{% include card.html

title="Tofu"
image="/assets/img/tools/Tofu.svg"
description="An easy-to-use, open-source two-factor authentication app designed specifically for iOS."
website="https://www.tofuauth.com/"
ios="https://itunes.apple.com/app/tofu-authenticator/id1082229305"
nocountry=""
github="https://github.com/calleerlandsson/tofu"

%}

{% include card.html

title="andOTP"
image="/assets/img/tools/andOTP.png"
description="andOTP is an open source two-factor authentication App for Android 4.4+."
website="https://github.com/andOTP/andOTP"
android="https://github.com/andOTP/andOTP#downloads"
nocountry=""
github="https://github.com/andOTP/andOTP"

%}