{% include card.html

title="UBlockOrigin"
image="/assets/img/addons/ublock_origin.svg"
description='uBlockOrigin is a general-purpose blocker, or most well known as an ad-blocker, though it does so much more. This is a must have on any browser.'
nocountry=""
website="https://github.com/gorhill/uBlock"
addon="https://addons.mozilla.org/firefox/addon/ublock-origin/"
github="https://github.com/gorhill/uBlock/"

%}

{% include card.html

title="Firefox Multi-Account Containers"
image="/assets/img/addons/firefox_multi_account_containers.svg"
description='Firefox Multi-Account Containers lets you keep parts of your online life separated into color-coded tabs that preserve your privacy. Cookies are separated by container, allowing you to use the web with multiple identities or accounts simultaneously.'
nocountry=""
website="https://support.mozilla.org/en-US/kb/containers"
addon="https://addons.mozilla.org/firefox/addon/multi-account-containers/"
github="https://github.com/mozilla/multi-account-containers"

%}

{% include card.html

title="HTTPS Everywhere"
image="/assets/img/addons/https_everywhere.svg"
description='HTTPS Everywhere is a Firefox, Chrome, and Opera extension that encrypts your communications with many major websites, making your browsing more secure. EFF will deprecate this extension in 2022.'
nocountry=""
website="https://www.eff.org/https-everywhere"
addon="https://addons.mozilla.org/en-US/firefox/addon/https-everywhere"
github="https://github.com/EFForg/https-everywhere"

%}

{% include card.html

title="Cookie AutoDelete"
image="/assets/img/addons/cookie-autodelete.png"
description='Automatically removes cookies when they are no longer used by open browser tabs. With the cookies, lingering sessions, as well as information used to spy on you, will be expunged.'
nocountry=""
website="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
addon="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
github="https://github.com/Cookie-AutoDelete/Cookie-AutoDelete"

%}

{% include card.html

title="PrivacySpy"
image="/assets/img/addons/privacyspy.png"
description='PrivacySpy lets you know how the sites you visit handle your personal data. See privacy policies rated on a 10-point scale, as well as warnings when data breaches occur.'
nocountry=""
website="https://privacyspy.org/"
addon="https://privacyspy.org/extension/"
github="https://github.com/politiwatch/"

%}