{% include card.html

title="UBlockOrigin"
image="/assets/img/addons/ublock_origin.svg"
description='uBlockOrigin is a general-purpose blocker, or most well known as an ad-blocker, though it does so much more. This is a must have on any browser.'
nocountry=""
website="https://github.com/gorhill/uBlock"
addon="https://addons.mozilla.org/firefox/addon/ublock-origin/"
github="https://github.com/gorhill/uBlock/"

%}

{% include card.html

title="HTTPS Everywhere"
image="/assets/img/addons/https_everywhere.svg"
description='HTTPS Everywhere is a Firefox, Chrome, and Opera extension that encrypts your communications with many major websites, making your browsing more secure.'
nocountry=""
website="https://www.eff.org/https-everywhere"
addon="https://addons.mozilla.org/en-US/firefox/addon/https-everywhere"
github="https://github.com/EFForg/https-everywhere"

%}

{% include card.html

title="Decentraleyes"
image="/assets/img/addons/decentraleyes.svg"
description='Protects you against tracking through “free”, centralized, content delivery. It prevents a lot of requests from reaching networks like Google Hosted Libraries, and serves local files to keep sites from breaking.'
nocountry=""
website="https://decentraleyes.org/"
addon="https://addons.mozilla.org/en-US/firefox/addon/decentraleyes"
gitlab="https://git.synz.io/Synzvato/decentraleyes"

%}

{% include card.html

title="Cookie AutoDelete"
image="/assets/img/addons/cookie-autodelete.png"
description='Automatically removes cookies when they are no longer used by open browser tabs. With the cookies, lingering sessions, as well as information used to spy on you, will be expunged.'
nocountry=""
website="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
addon="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
github="https://github.com/Cookie-AutoDelete/Cookie-AutoDelete"

%}

{% include card.html

title="NoScript Security Suite"
image="/assets/img/addons/noscript.svg"
description='Highly customizable plugin to selectively allow Javascript, Java, and Flash to run only on websites you trust. Not for casual users, it requires technical knowledge to configure.'
nocountry=""
website="https://addons.mozilla.org/firefox/addon/noscript/"
addon="https://addons.mozilla.org/firefox/addon/noscript/"
github="https://github.com/hackademix/noscript"

%}