{% include card.html

title="Firefox"
image="/assets/img/tools/Firefox.png"
description='One of the most popular browsers on the market is always thinking privacy first and offers an amazingly fast, reliable browser.'
nocountry=""
website="https://getfirefox.com/"
windows="https://www.mozilla.org/firefox/windows/"
ios="https://www.mozilla.org/en-US/firefox/mobile/"
android="https://www.mozilla.org/en-US/firefox/mobile/"
mac="https://www.mozilla.org/firefox/mac/"
linux="https://www.mozilla.org/firefox/linux/"
git="https://hg.mozilla.org/mozilla-central/"
github="https://github.com/mozilla-mobile"

%}

{% include card.html

title="Tor"
image="/assets/img/tools/Tor-Project.png"
description="Tor Browser is your choice if you need an extra layer of anonymity. It's a modified version of Firefox ESR, which comes with pre-installed privacy add-ons, encryption, and an advanced proxy."
nocountry=""
website="https://torproject.org/"
windows="https://www.torproject.org/download/"
mac="https://www.torproject.org/download/"
linux="https://www.torproject.org/download/"
android="https://www.torproject.org/download/#android"
git="https://trac.torproject.org/projects/tor"

%}

{% include card.html

title="Onion Browser"
image="/assets/img/tools/onion.png"
description="Tor's recommended iOS browser. Use this on your mobile when you needed added security and privacy."
nocountry=""
website="https://onionbrowser.com/"
ios="https://onionbrowser.com/"
github="https://github.com/mtigas/OnionBrowser"

%}

{% include card.html

title="Bromite"
image="/assets/img/tools/bromite.png"
description="Bromite is a Chromium-based browser with security enhancement patches from GrapheneOS and built-in adblocking and DNS over HTTPS support."
nocountry=""
website="https://www.bromite.org/"
android="https://www.bromite.org/"
github="https://github.com/bromite/bromite"

%}

{% include card.html

title="DuckDuckGo Privacy Browser"
image="/assets/img/provider/DuckDuckGo.jpg"
description="A completely private browser that won't track you and burns it's memory with the click of a button."
nocountry=""
website="https://duckduckgo.com/app"
android="https://duckduckgo.com/app/"
ios="https://duckduckgo.com/app"

%}