<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Servers</th>
													<th>US Based?</th>
													<th>Logs?</th>
													<th>Filtering</th>									
                        </tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://adguard.com/en/adguard-dns/overview.html" target="_blank">AdGuard DNS</a></td>
													<td>Anycast</td>
													<td>No</td>
													<td>No</td>
													<td>Ads, trackers, malicious domains </td>
												</tr>
												<tr>
													<td><a href="https://www.opennic.org" target="_blank">OpenNIC</a></td>
													<td>Anycast</td>
													<td>Yes</td>
													<td>User choice</td>
													<td>User choice</td>
												</tr>
												<tr>
													<td><a href="https://blahdns.com/" target="_blank">BlahDNS</a></td>
													<td><span class="flag-icon flag-icon-fi"></span> Finland<br><span class="flag-icon flag-icon-jp"></span> Japan<br><span class="flag-icon flag-icon-de"></span> Germany</td>
													<td>No</td>
													<td>No</td>
													<td>Ads, trackers, malicious domains</td>
												</tr>
												<tr>
													<td><a href="https://quad9.net/" target="_blank">Quad9</a></td>
													<td>Anycast</td>
													<td>Yes</td>
													<td>Some</td>
													<td>Malicious domains</td>
												</tr>
												<tr>
													<td><a href="https://nextdns.io" target="_blank">NextDNS</a></td>
													<td>Anycast</td>
													<td>Yes</td>
													<td>User choice</td>
													<td>User choice</td>
												</tr>
												<tr>
													<td><a href="https://1.1.1.1" target="_blank">Cloudflare</a></td>
													<td>Anycast</td>
													<td>Yes</td>
													<td>Some</td>
													<td>User choice</td>
												</tr>
												<tr>
													<td><a href="https://nixnet.xyz/" target="_blank">NixNet</a></td>
													<td>Anycast</td>
													<td>Yes</td>
													<td>No</td>
													<td>User choice</td>
												</tr>
											</tbody>
										</table>
									</div>