<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Protocols</th>
													<th>Logs?</th>
													<th>Filtering</th>									
                        </tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://adguard.com/en/adguard-dns/overview.html" target="_blank">AdGuard DNS</a></td>
													<td>Cleartext<br>DoH<br>DoT<br>DNSCrypt</td>
													<td>Some</td>
													<td>Ads, trackers, malicious domains</td>
												</tr>
												<tr>
													<td><a href="https://mullvad.net/en/help/dns-over-https-and-dns-over-tls/" target="_blank">Mullvad</a></td>
													<td>DoH<br>DoT</td>
													<td>No</td>
													<td>User choice</td>
												</tr>
												<tr>
													<td><a href="https://blahdns.com/" target="_blank">BlahDNS</a></td>
													<td>DoH<br>DoT<br>DNSCrypt</td>
													<td>No</td>
													<td>Ads, trackers, malicious domains</td>
												</tr>
												<tr>
													<td><a href="https://quad9.net/" target="_blank">Quad9</a></td>
													<td>Cleartext<br>DoH<br>DoT<br>DNSCrypt</td>
													<td>Some</td>
													<td>User choice</td>
												</tr>
												<tr>
													<td><a href="https://nextdns.io" target="_blank">NextDNS</a></td>
													<td>Cleartext<br>DoH<br>DoT<br>DNSCrypt</td>
													<td>User choice</td>
													<td>User choice</td>
												</tr>
												<tr>
													<td><a href="https://1.1.1.1" target="_blank">Cloudflare</a></td>
													<td>Cleartext<br>DoH<br>DoT</td>
													<td>Some</td>
													<td>User choice</td>
												</tr>
											</tbody>
										</table>
									</div>