{% include card.html

title="dnscrypt-proxy"
image="/assets/img/addons/dnscrypt-proxy.svg"
description="A flexible DNS proxy, with support for modern encrypted DNS protocols such as DNSCrypt v2, DNS-over-HTTPS and Anonymized DNSCrypt."
website="https://dnscrypt.info/"
github="https://github.com/DNSCrypt/dnscrypt-proxy"
nocountry=""
price="Free"

%}

{% include card.html

title="DNSCloak"
image="/assets/img/addons/dnscloak.png"
description="An open-source DNSCrypt and DNS-over-HTTPS client for iOS"
website="https://github.com/s-s/dnscloak/blob/master/README.md"
ios="https://apps.apple.com/app/id1452162351"
github="https://github.com/s-s/dnscloak/"
nocountry=""
price="Free"

%}