{% include card.html

title="dnscrypt-proxy"
image="/assets/img/addons/dnscrypt-proxy.svg"
description="A flexible DNS proxy, with support for modern encrypted DNS protocols such as DNSCrypt v2, DNS-over-HTTPS and Anonymized DNSCrypt."
website="https://dnscrypt.info/"
github="https://github.com/DNSCrypt/dnscrypt-proxy"
nocountry=""
price="Free"

%}

{% include card.html

title="DNSecure"
image="/assets/img/addons/dnssecure.png"
description="DNSecure is a configuration tool of encrypted DNS for macOS. An encrypted DNS service you configure will be used system-wide. Supported protocols are DNS-over-TLS and DNS-over-HTTPS. DNSecure requires iOS 14+, iPadOS 14+, or macOS 11+."
website="https://github.com/kkk669/DNSecure"
ios="https://apps.apple.com/us/app/dnsecure/id1533413232?itsct=apps_box&itscg=30200"
mac="https://apps.apple.com/us/app/dnsecure/id1533413232?itsct=apps_box&itscg=30200"
github="https://github.com/kkk669/DNSecure"
nocountry=""
price="Free"

%}