<table>
<tbody>
<tr>
<th>Provider</th>
<th>Server</th>
<th>Storage</th>
<th>Cost / Year</th>
<th>Encryption</th>
<th>Custom Domains</th>
</tr>
<tr>
<td data-value="ProtonMail">
<a href="https://www.ProtonMail.com" target="_blank"><img src="/assets/img/provider/ProtonMail.ch.png" class="app-logo-table"></a>
</td>
<td><span class="flag-icon flag-icon-ch"></span> Switzerland</td>
<td data-value="500">500 MB</td>
<td data-value="0"><span class="label label-warning">Free</span></td>
<td data-value="1"><span class="label label-success">Built-in</span></td>
<td data-value="1"><span class="label label-success">Yes</span></td>
</tr>
<tr>
<td data-value="Tutanota">
<a href="https://Tutanota.com" target="_blank"><img src="/assets/img/provider/Tutanota.png" class="app-logo-table"></a>
</td>
<td><span class="flag-icon flag-icon-de"></span> Germany</td>
<td data-value="1000">1 GB</td>
<td data-value="0"><span class="label label-warning">Free</span></td>
<td data-value="1"><span class="label label-success">Built-in</span></td>
<td data-value="1"><span class="label label-success">Yes</span></td>
</tr>
<tr>
<td data-value="mailbox.org">
<a href="https://mailbox.org" target="_blank"><img src="/assets/img/provider/mailbox.org.png" class="app-logo-table"></a>
</td>
<td><span class="flag-icon flag-icon-de"></span> Germany</td>
<td data-value="2000">2 GB</td>
<td data-value="13">12 €</td>
<td data-value="1"><span class="label label-success">Built-in</span></td>
<td data-value="1"><span class="label label-success">Yes</span></td>
</tr>
<tr>
<td data-value="Fastmail">
<a href="https://www.fastmail.com" target="_blank"><img src="/assets/img/provider/Fastmail.png" class="app-logo-table"></a>
</td>
<td><span class="flag-icon flag-icon-au"></span> Australia</td>
<td data-value="2000">2 GB</td>
<td data-value="13">$30</td>
<td data-value="1"><span class="label label-success">Built-in</span></td>
<td data-value="1"><span class="label label-success">Yes</span></td>
</tr>	
<tr>
<td data-value="Mailfence">
<a href="https://mailfence.com" target="_blank"><img src="/assets/img/provider/Mailfence.png" class="app-logo-table"></a>
</td>
<td><span class="flag-icon flag-icon-be"></span> Belgium</td>
<td data-value="500">500 MB</td>
 <td data-value="0"><span class="label label-warning">Free</span></td>
<td data-value="1"><span class="label label-success">Built-in</span></td>
<td data-value="1"><span class="label label-success">Yes</span></td>
</tr>
<tr>
<td data-value="Posteo">
<a href="https://posteo.de" target="_blank"><img src="/assets/img/provider/Posteo.png" class="app-logo-table"></a>
</td>
<td><span class="flag-icon flag-icon-de"></span> Germany</td>
<td data-value="2000">2 GB</td>
<td data-value="13">12 €</td>
<td data-value="1"><span class="label label-success">Built-in</span></td>
<td data-value="0"><span class="label label-primary">No</span></td>
</tr>
<tr>
<td data-value="Soverin">
<a href="https://soverin.net/" target="_blank"><img src="/assets/img/provider/Soverin.svg" class="app-logo-table"></a>
</td>
<td><span class="flag-icon flag-icon-nl"></span> Netherlands</td>
<td data-value="2000">25 GB</td>
<td data-value="13">29 €</td>
<td data-value="1"><span class="label label-success">No</span></td>
<td data-value="0"><span class="label label-primary">Yes</span></td>
</tr>
<tr>
<td data-value="KolabNow">
<a href="https://www.kolabnow.com/" target="_blank"><img src="/assets/img/provider/Kolab-Now.png" class="app-logo-table"></a>
</td>
<td><span class="flag-icon flag-icon-ch"></span> Switzerland</td>
<td data-value="2000">2 GB</td>
<td data-value="13">$60</td>
<td data-value="1"><span class="label label-success">No</span></td>
<td data-value="0"><span class="label label-primary">Yes</span></td>
</tr>
<tr>
<td data-value="StartMail">
<a href="https://startmail.com" target="_blank"><img src="/assets/img/provider/StartMail.png" class="app-logo-table"></a>
</td>
<td><span class="flag-icon flag-icon-nl"></span> Netherlands</td>
<td data-value="2000">10 GB</td>
<td data-value="13">$59.95</td>
<td data-value="1"><span class="label label-success">Built-in</span></td>
<td data-value="1"><span class="label label-success">Yes</span></td>
</tr>
</tbody>
</table>
								




					
