{% include card_email.html

title="SimpleLogin"
image="/assets/img/provider/simplelogin.png"
description='SimpleLogin allows you to creast email aliases utilizing a different identity for each website. Defend against spams, phishing and data breaches. This project is open-source and can be self-hosted.'
country="fr"
website="https://simplelogin.io/"
price="Free+"
encryption=""
domain=""

%}

{% include card_email.html

title="AnonAddy"
image="/assets/img/provider/anonaddy.png"
description='AnonAddy is an open-source Anonymous Email Forwarding service allowing users to create unlimited email aliases for free. This can be self-hosted.'
country="gb"
website="https://anonaddy.com/"
price="Free+"
encryption=""
domain=""

%}

{% include card_email.html

title="Firefox Relay"
image="/assets/img/provider/firefoxrelay.webp"
description='Firefox Relay makes it easy to create aliases, randomly generated email addresses that forward to your real inbox. Use it to protect your online accounts - and your identity - from hackers. This project is open-source.'
country="us"
website="https://relay.firefox.com/"
price="Free+"

%}