{% include card_email.html

title="ProtonMail"
image="/assets/img/provider/protonmail.png"
description='ProtonMail is a Swiss-based email service with no advertising and maximum possible privacy for its users, funded entirely by donations and subscriptions. The basic account is free, with paid-for accounts that have more features and storage.'
country="ch"
website="https://protonmail.com/"
price="Free"
encryption=""
domain=""
storage="500MB"
tor="https://protonirockerxow.onion/"

%}

{% include card_email.html

title="Tutanota"
image="/assets/img/provider/tutanota.png"
description='Tutanota is an encrypted email and calendar service based in Germany, with no advertising and the emphasis on privacy. The basic account is free, with paid-for accounts that have more features and storage. They also have their own apps for Android and iPhone.'
country="de"
website="https://tutanota.com/"
price="Free"
encryption=""
domain=""
storage="2GB"

%}

{% include card_email.html

title="StartMail"
image="/assets/img/provider/startmail.png"
description='StartMail is a privacy focused email service based in The Netherlands from the same minds that brought you Startpage.com.'
country="nl"
website="https://startmail.com"
price="$59.95/year"
encryption=""
domain=""
storage="10GB"

%}

{% include card_email.html

title="Fastmail"
image="/assets/img/provider/fastmail.svg"
description='Fastmail is an Australian company that offers private email funded entirely by its users, with no advertising or tracking. There’s a free trial, after which accounts cost various different prices for different features and amounts of storage space.'
country="au"
website="https://fastmail.com/"
price="$30/year"
encryption=""
domain=""
storage="2GB"

%}


{% include card_email.html

title="Mailbox.org"
image="/assets/img/provider/mailbox.jpg"
description='Run by a German family business, mailbox.org offers email, online file storage and online office features such as calendars. There’s a one month free trial.'
country="de"
website="https://mailbox.org/"
price="€12/year"
encryption=""
domain=""
storage="1GB"

%}


{% include card_email.html

title="Posteo"
image="/assets/img/provider/posteo.jpg"
description='Posteo is an email service with no advertising, maximum privacy and powered entirely by green electricity. The service is paid for by its users. Posteo doesn’t make its own mobile apps, but you can use their service through your phone’s own  email app (or through any email app that supports the IMAP standard).'
country="de"
website="https://posteo.de/"
price="€12/year"
encryption=""
domain="No"
storage="2GB"

%}

{% include card_email.html

title="Soverin"
image="/assets/img/provider/soverin.jpg"
description='Soverin is based in the Netherlands and offers privacy-oriented email including custom domain name and optional web page too.'
country="nl"
website="https://soverin.net/"
price="€29/year"
encryption=""
domain=""
storage="25GB"

%}

{% include card_email.html

title="KolabNow"
image="/assets/img/provider/kolabnow.svg"
description='Kolab Now is a Swiss email provider with lots of extra services aimed at business people, including a calendar, file sharing, tasks and more. There’s a free trial, after which you pay a fee to continue using the service.'
country="ch"
website="https://kolabnow.com/"
price="$60/year"
domain=""
storage="2GB"

%}

{% include card_email.html

title="The Xyz"
image="/assets/img/provider/thexyz.png"
description='Thexyz is a Canadian company offering privacy-conscious business email. There are low-price paid basic accounts with additional paid options for professional services such as MS Exchange and calendar sync. As well as the apps below, the service can also be used through any phone or computer app that supports IMAP (or Exchange if you’ve paid extra).'
country="ca"
website="https://thexyz.com"
price="$29.95/year"
domain=""
storage="25GB"

%}

{% include card_email.html

title="Mailfence"
image="/assets/img/provider/mailfence.png"
description='Mailfence is a secure email suite that offers end-to-end encryption (<i>through PGP support, no encryption at rest</i>) and the ability to work with different email clients (<i>paid accounts only</i>).'
country="be"
website="https://mailfence.com"
price="Free"
domain=""
storage="500MB"

%}