<h2>End-to-End Encrypted</h2>

{% include card_email.html

title="ProtonMail"
image="/assets/img/provider/protonmail.png"
description='ProtonMail is a Swiss-based email service with no advertising and maximum possible privacy for its users, funded entirely by donations and subscriptions. The basic account is free, with paid-for accounts that have more features and storage.'
country="ch"
website="https://protonmail.com/"
price="Free+"
encryption=""
domain=""
storage="500MB"
tor="https://protonirockerxow.onion/"

%}

{% include card_email.html

title="Tutanota"
image="/assets/img/provider/tutanota.png"
description='Tutanota is an encrypted email and calendar service based in Germany, with no advertising and the emphasis on privacy. The basic account is free, with paid-for accounts that have more features and storage. They also have their own apps for Android and iPhone.'
country="de"
website="https://tutanota.com/"
price="Free+"
encryption=""
domain=""
storage="2GB"

%}

{% include card_email.html

title="StartMail"
image="/assets/img/provider/startmail.png"
description='StartMail is a privacy focused email service based in The Netherlands from the same minds that brought you Startpage.com.'
country="nl"
website="https://startmail.com"
price="$59.95/year"
encryption=""
domain=""
storage="10GB"

%}

{% include card_email.html

title="Mailbox.org"
image="/assets/img/provider/mailbox.jpg"
description='Run by a German family business, mailbox.org offers email, online file storage and online office features such as calendars. There’s a one month free trial.'
country="de"
website="https://mailbox.org/"
price="€12/year"
encryption=""
domain=""
storage="1GB"

%}

<h2>Ad-Free/Private</h2>

{% include card_email.html

title="Fastmail"
image="/assets/img/provider/fastmail.svg"
description='Fastmail is an Australian company that offers private email funded entirely by its users, with no advertising or tracking. There’s a free trial, after which accounts cost various different prices for different features and amounts of storage space.'
country="au"
website="https://fastmail.com/"
price="$30/year"
domain=""
storage="2GB"

%}

{% include card_email.html

title="Hey"
image="/assets/img/provider/hey.jpg"
description='Hey is an email client from the people behind Basecamp. Hey offers a unique way to manage incoming emails and prioritize how you answer them. It blocks third party trackers, is ad free, and your email is encrypted at rest. Hey offers custom domains for an additional fee.'
country="us"
website="https://hey.com"
price="$99/year"
encryption=""
storage="100GB"
domain=""

%}

{% include card_email.html

title="Soverin"
image="/assets/img/provider/soverin.jpg"
description='Soverin is based in the Netherlands and offers privacy-oriented email including custom domain name and optional web page too.'
country="nl"
website="https://soverin.net/"
price="€29/year"
encryption=""
domain=""
storage="25GB"

%}

