
{% include card.html

title="Signal"
image="/assets/img/tools/signal.svg"
description="Signal is a mobile app developed by Open Whisper Systems. The app provides instant messaging, as well as voice and video calling. All communications are end-to-end encrypted."
country="us"
website="https://signal.org"
mac="https://signal.org/download/"
ios="https://itunes.apple.com/us/app/signal-private-messenger/id874139669?mt=8"
android="https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms&referrer=utm_source%3DOWS%26utm_medium%3DWeb%26utm_campaign%3DNav"
windows="https://signal.org/download/"
linux="https://signal.org/download/"
github="https://github.com/signalapp"

%}



{% include card.html

title="Riot"
image="/assets/img/tools/Riot.png"
description="Riot.im is a federated free-software messaging application based on the Matrix protocol, a recent open protocol for real-time communication offering E2E encryption. It also has bridging functionality, allowing you to connect to other chat protocols such as IRC or Telegram."
website="https://riot.im"
mac="https://riot.im/download/desktop"
ios="https://itunes.apple.com/us/app/vector.im/id1083446067"
android="https://about.riot.im/downloads"
windows="https://riot.im/download/desktop"
linux="https://riot.im/download/desktop"
web="https://riot.im/app/"
github="https://github.com/vector-im"

%}

<!--{% include card.html

title="Jitsi"
image="/assets/img/tools/jitsi.jpg"
description="Jitsi is a set of Open Source projects that allow you to easily build and deploy secure video conferencing solutions."
website="https://jitsi.org/"
mac="https://meet.jit.si/"
ios="https://apps.apple.com/us/app/jitsi-meet/id1165103905"
android="https://play.google.com/store/apps/details?id=org.jitsi.meet"
windows="https://meet.jit.si/"
linux="https://meet.jit.si/"
github="https://github.com/jitsi"
country="us"
%}-->

{% include card.html

title="Jami"
image="/assets/img/tools/jami.svg"
description="Jami is a free and universal communication platform which preserves the user's privacy and freedoms."
website="https://jami.net"
mac="https://jami.net/download-jami-macos"
ios="https://jami.net/download-jami-ios"
android="https://jami.net/download-jami-android"
windows="https://jami.net/download-jami-windows"
linux="https://jami.net/download-jami-linux"
gitlab="https://git.jami.net/savoirfairelinux/ring-project"

%}

{% include card.html

title="Keybase"
image="/assets/img/tools/Keybase.png"
description="Keybase is an encrypted individual and group chat application that also features an account and key verification service. <a style='text-decoration:none;' href='https://keybase.io/blog/keybase-joins-zoom'><span class='privacyflag'>Sold to Zoom</span></a>"
website="https://keybase.io"
country="us"
mac="https://keybase.io/docs/the_app/install_macos"
ios="https://keybase.io/_/download/keybase-for-ios"
android="https://keybase.io/_/download/keybase-for-android"
windows="https://keybase.io/docs/the_app/install_windows"
linux="https://keybase.io/docs/the_app/install_linux"
github="https://github.com/keybase/client"

%}