
{% include card.html

title="Signal"
image="/assets/img/tools/signal.svg"
description="Signal is a mobile app developed by Open Whisper Systems. The app provides instant messaging, as well as voice and video calling. All communications are end-to-end encrypted."
country="us"
website="https://signal.org"
mac="https://signal.org/download/"
ios="https://itunes.apple.com/us/app/signal-private-messenger/id874139669?mt=8"
android="https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms&referrer=utm_source%3DOWS%26utm_medium%3DWeb%26utm_campaign%3DNav"
windows="https://signal.org/download/"
linux="https://signal.org/download/"
github="https://github.com/signalapp"

%}



{% include card.html

title="Element"
image="/assets/img/tools/element-logo.svg"
description="All-in-one secure chat app for teams, friends and organisations. Keeps conversations in your control, safe from data-mining and ads. Talk to everyone through the open global Matrix network, protected by proper end-to-end encryption."
website="https://element.io"
mac="https://element.io/get-started"
ios="https://itunes.apple.com/us/app/vector.im/id1083446067"
android="https://play.google.com/store/apps/details?id=im.vector.apps"
windows="https://element.io/get-started"
web="https://app.element.io/"
github="https://github.com/vector-im"

%}

{% include card.html

title="Jitsi"
image="/assets/img/tools/jitsi.jpg"
description="Jitsi is a set of Open Source projects that allow you to easily build and deploy secure video conferencing solutions."
website="https://jitsi.org/"
mac="https://meet.jit.si/"
ios="https://apps.apple.com/us/app/jitsi-meet/id1165103905"
android="https://play.google.com/store/apps/details?id=org.jitsi.meet"
windows="https://meet.jit.si/"
linux="https://meet.jit.si/"
github="https://github.com/jitsi"
country="us"
%}

{% include card.html

title="Jami"
image="/assets/img/tools/jami.svg"
description="Jami is a free and universal communication platform which preserves the user's privacy and freedoms."
website="https://jami.net"
mac="https://jami.net/download-jami-macos"
ios="https://jami.net/download-jami-ios"
android="https://jami.net/download-jami-android"
windows="https://jami.net/download-jami-windows"
linux="https://jami.net/download-jami-linux"
gitlab="https://git.jami.net/savoirfairelinux/ring-project"

%}