{% include card.html

title="DNSCloak"
image="/assets/img/addons/dnscloak.png"
description="An open-source DNSCrypt and DNS-over-HTTPS client for iOS"
website="https://github.com/s-s/dnscloak/blob/master/README.md"
ios="https://apps.apple.com/app/id1452162351"
github="https://github.com/s-s/dnscloak/"
nocountry=""
price="Free"

%}

{% include card.html

title="Better"
image="/assets/img/addons/Better.png"
description="Better is a privacy tool for Safari on iPhone, iPad, and Mac. It protects you from behavioural ads and companies that track and profile you on the web."
website="https://better.fyi/"
ios="https://itunes.apple.com/us/app/better-by-ind.ie/id1080964978?ls=1&mt=8"
git="https://source.ind.ie/better/"
nocountry=""
price="$0.99"

%}

{% include card.html

title="Jumbo"
image="/assets/img/addons/Jumbo.jpg"
description="Jumbo is a mobile app that helps you delete your social media and voice assistant activity, adjust your privacy setting for Facebook, Google, and more."
website="https://www.jumboprivacy.com/"
ios="https://apps.apple.com/app/jumbo-privacy-security/id1454039975"
android="https://play.google.com/store/apps/details?id=com.jumboprivacy"
nocountry=""
price="Free"

%}

{% include card.html

title="Disconnect"
image="/assets/img/addons/Disconnect.jpg"
description="Tracking protection for your desktop or mobile browser. iOS includes SmartVPN features to encrypt all HTTP and DNS connections."
website="https://www.disconnect.me/"
ios="https://itunes.apple.com/us/app/disconnect-privacy-pro-entire/id1057771839?ls=1&mt=8"
android="https://play.google.com/store/apps/details?id=me.disconnect.pro"
github="https://github.com/disconnectme"
nocountry=""
price="Free"

%}

{% include card.html

title="Blokada"
image="/assets/img/addons/Blokada.png"
description="If you want to efficiently blocks ads, trackers and malwares, if want to save your data plan, make your device faster and protect your privacy with one application, Blokada is for you. It is free, secure and open source."
website="https://blokada.org/"
android="https://blokada.org/#download"
github="https://github.com/blokadaorg/blokada"
nocountry=""
price="Free"

%}