{% include card.html

title="AdGuard"
image="/assets/img/addons/adguard.svg"
description="AdGuard for iOS is a free and open-source content-blocking extension for Safari."
website="https://adguard.com/en/adguard-ios/overview.html"
ios="https://apps.apple.com/app/apple-store/id1047223162"
nocountry=""
price="Free+"

%}

{% include card.html

title="Jumbo"
image="/assets/img/addons/Jumbo.jpg"
description="Jumbo is a mobile app that helps you delete your social media and voice assistant activity, adjust your privacy setting for Facebook, Google, and more."
website="https://www.jumboprivacy.com/"
ios="https://apps.apple.com/app/jumbo-privacy-security/id1454039975"
android="https://play.google.com/store/apps/details?id=com.jumboprivacy"
nocountry=""
price="Free"

%}

{% include card.html

title="Disconnect"
image="/assets/img/addons/Disconnect.jpg"
description="Tracking protection for your desktop or mobile browser. iOS includes SmartVPN features to encrypt all HTTP and DNS connections."
website="https://www.disconnect.me/"
ios="https://itunes.apple.com/us/app/disconnect-privacy-pro-entire/id1057771839?ls=1&mt=8"
android="https://play.google.com/store/apps/details?id=me.disconnect.pro"
github="https://github.com/disconnectme"
nocountry=""
price="Free"

%}

{% include card.html

title="Blokada"
image="/assets/img/addons/Blokada.png"
description="If you want to efficiently blocks ads, trackers and malwares, if want to save your data plan, make your device faster and protect your privacy with one application, Blokada is for you. It is free, secure and open source."
website="https://blokada.org/"
ios="https://go.blokada.org/appstore"
android="https://blokada.org/#download"
github="https://github.com/blokadaorg/blokada"
nocountry=""
price="Free"

%}