{% include card.html

title="StandardNotes"
image="/assets/img/tools/StandardNotes.png"
description="StandardNotes is a simple and private notes app that makes your notes easy and available everywhere you are. Features end-to-end encryption on every platform, and a powerful desktop experience with themes and custom editors."
nocountry=""
website="https://standardnotes.com"
mac="https://standardnotes.com/extensions?downloaded=mac"
ios="https://standardnotes.com/extensions?downloaded=ios"
android="https://standardnotes.com/extensions?downloaded=android"
windows="https://standardnotes.com/extensions?downloaded=windows"
linux="https://standardnotes.com/extensions?downloaded=linux"
web="https://standardnotes.com/extensions?downloaded=web"
github="https://github.com/standardnotes"

%}

{% include card.html

title="Joplin"
image="/assets/img/tools/Joplin.png"
description="Joplin is a free, open source, fully featured note taking and to-do application, which can handle a large number of markdown notes organised into notebooks and tags. It offers E2EE encryption and can sync through Nextcloud, Dropbox and more. It also offers easy import from Evernote and plain text notes."
nocountry=""
website="https://joplinapp.org/"
mac="https://joplinapp.org/"
ios="https://itunes.apple.com/us/app/joplin/id1315599797"
android="https://joplinapp.org/"
windows="https://joplinapp.org/"
linux="https://joplinapp.org/"
github="https://github.com/laurent22/joplin"

%}

{% include card.html

title="Turtl"
image="/assets/img/tools/Turtl.png"
description="Turtl lets you take notes, bookmark websites, and store documents for sensitive projects. From sharing passwords with your coworkers to tracking research on an article you're writing, Turtl keeps it all safe from everyone but you and those you share with."
nocountry=""
website="https://turtlapp.com/"
mac="https://turtlapp.com/download/"
android="https://turtlapp.com/download/"
windows="https://turtlapp.com/download/"
linux="https://turtlapp.com/download/"
github="https://github.com/turtl"

%}

{% include card.html

title="CryptPad"
image="/assets/img/tools/CryptPad.png"
description="CryptPad offers secure, collaborative document sharing and storage. Editing text documents, spreadsheets, and presentations are a snap."
nocountry=""
website="https://cryptpad.fr/"
web="https://cryptpad.fr/"
github="https://github.com/xwiki-labs/cryptpad"

%}