<h2>Desktop Operating Systems</h2>
<h3>Beginner Friendly Operating Systems</h3>

{% include card.html

title="Fedora"
image="/assets/img/os/Fedora.svg"
description="Fedora Workstation is a reliable, user-friendly, and powerful operating system for your laptop or desktop computer. It supports a wide range of developers, from hobbyists and students to professionals in corporate environments. Companies all over the world trust Red Hat Inc. because of their transparency throughout the whole development process."
website="https://getfedora.org"
git="https://src.fedoraproject.org/"
nocountry=""

%}


{% include card.html

title="Ubuntu"
image="/assets/img/os/ubuntu.svg"
description="Ubuntu is a Linux distribution developed by Canonical Ltd. Ubuntu is a user friendly and stable operating system with many features and programs included to make the move to Linux easier for the first time or novice user."
website="https://ubuntu.com/"
git="https://launchpad.net/ubuntu"
nocountry=""

%}

<h3>Advanced Operating Systems</h3>

{% include card.html

title="Arch Linux"
image="/assets/img/os/archlinux.svg"
description="A simple, lightweight Linux distribution. It is composed predominantly of free and open-source software, and supports community involvement."
website="https://archlinux.org"
gitlab="https://gitlab.archlinux.org/"
nocountry=""

%}

{% include card.html

title="Debian"
image="/assets/img/os/Debian.svg"
description="Debian is a Unix-like computer operating system and a Linux distribution that is composed entirely of free and open-source software, most of which is under the GNU General Public License, and packaged by a group of individuals known as the Debian project."
website="https://debian.org"
tor="http://sejnfjrq6szgca7v.onion/"
gitlab="https://salsa.debian.org/qa/debsources"
nocountry=""

%}

{% include card.html

title="Qubes OS"
image="/assets/img/os/Qubes.svg"
description="Qubes is an open-source operating system designed to provide strong security for desktop computing. Qubes is based on Xen, the X Window System, and Linux, and can run most Linux applications and utilize most of the Linux drivers."
website="https://qubes-os.org"
tor="http://qubesosfasa4zl44o4tws22di6kepyzfeqv3tg4e3ztknltfxqrymdad.onion/"
github="https://github.com/QubesOS"
nocountry=""

%}

<h2>Live Operating Systems</h2>

{% include card.html

title="Tails"
image="/assets/img/os/Tails.svg"
description="Tails is a portable OS that you leave installed on a thumbdrive and use when you have access to a computer. This is a pretty secure option and it uses Tor as a default connection to the web, but is not realistic for most users. It is the most secure of the bunch, and is a great option for those who need the utmost security."
website="https://tails.boum.org/"
git="https://git-tails.immerda.ch/tails/"
nocountry=""

%}