{% include card.html

title="Bitwarden"
image="/assets/img/tools/bitwarden.png"
description="So easy to use, cross-platform (Mac, Windows, Linux, iOS, Android) application. The web app and browser plugin are fantastic and the password generator is incredibly helpful."
website="https://bitwarden.com/"
nocountry=""
mac="https://bitwarden.com/#download"
ios="https://itunes.apple.com/app/bitwarden-free-password-manager/id1137397744?mt=8"
android="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden"
windows="https://bitwarden.com/#download"
linux="https://bitwarden.com/#download"
addon="https://bitwarden.com/#download"
web="https://bitwarden.com/#download"
github="https://github.com/bitwarden"
price="Free"

%}

{% include card.html

title="KeePassXC"
image="/assets/img/tools/keypassxc.svg"
description="KeePassXC is a community fork of KeePassX, a native cross-platform port of KeePass Password Safe, with the goal to extend and improve it with new features and bugfixes to provide a feature-rich, fully cross-platform and modern open-source password manager. "
website="https://keepassxc.org/"
nocountry=""
mac="https://keepassxc.org/download/#mac"
android="https://play.google.com/store/apps/details?id=com.kunzisoft.keepass.free"
windows="https://keepassxc.org/download/#windows"
linux="https://keepassxc.org/download/#linux"
addon="https://addons.mozilla.org/en-US/firefox/addon/keepassxc-browser"
github="https://github.com/keepassxreboot/keepassxc"
price="Free"

%}

{% include card.html

title="1Password"
image="/assets/img/tools/1Password.png"
description="Go ahead. Forget your passwords. 1Password remembers them all for you. Save your passwords and log in to sites with a single click. It's that simple."
website="https://1password.com/"
country="ca"
mac="https://1password.com/downloads/mac/"
ios="https://1password.com/downloads/ios/"
android="https://1password.com/downloads/android/"
windows="https://1password.com/downloads/windows/"
linux="https://1password.com/downloads/linux/"
web="https://1password.com"
price="$2.99 / month"

%}

{% include card.html

title="LastPass"
image="/assets/img/tools/LastPass.png"
description="LastPass remembers all your passwords, so you don't have to."
website="https://lastpass.com/"
country="us"
mac="https://lastpass.com/download"
ios="https://lastpass.com/download"
android="https://lastpass.com/download"
windows="https://lastpass.com/download"
linux="https://lastpass.com/download"
web="https://lastpass.com/download"
addon="https://lastpass.com/download"
price="Free"

%}

{% include card.html

title="Firefox Lockwise"
image="/assets/img/tools/Lockwise.png"
description="Securely access the passwords you’ve saved in Firefox from anywhere — even outside of the browser."
website="https://www.mozilla.org/en-US/firefox/lockwise/"
country="us"
ios="https://apps.apple.com/us/app/id1314000270"
android="https://app.adjust.com/6tteyjo?redirect=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dmozilla.lockbox&campaign=www.mozilla.org&adgroup=lockwise-page"
price="Free"
github="https://github.com/mozilla-lockwise"

%}