{% include card.html

title="Bitwarden"
image="/assets/img/tools/bitwarden.svg"
description="So easy to use, cross-platform (Mac, Windows, Linux, iOS, Android) application. The web app and browser plugin are fantastic and the password generator is incredibly helpful."
website="https://bitwarden.com/"
nocountry=""
mac="https://bitwarden.com/#download"
ios="https://itunes.apple.com/app/bitwarden-free-password-manager/id1137397744?mt=8"
android="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden"
windows="https://bitwarden.com/#download"
linux="https://bitwarden.com/#download"
addon="https://bitwarden.com/#download"
web="https://bitwarden.com/#download"
github="https://github.com/bitwarden"
price="Free+"

%}

{% include card.html

title="KeePassXC"
image="/assets/img/tools/keypassxc.svg"
description="KeePassXC is a community fork of KeePassX, a native cross-platform port of KeePass Password Safe, with the goal to extend and improve it with new features and bugfixes to provide a feature-rich, fully cross-platform and modern open-source password manager. "
website="https://keepassxc.org/"
nocountry=""
mac="https://keepassxc.org/download/#mac"
android="https://play.google.com/store/apps/details?id=com.kunzisoft.keepass.free"
windows="https://keepassxc.org/download/#windows"
linux="https://keepassxc.org/download/#linux"
addon="https://addons.mozilla.org/en-US/firefox/addon/keepassxc-browser"
github="https://github.com/keepassxreboot/keepassxc"
price="Free"

%}