{% include card.html

title="StartPage"
image="/assets/img/provider/StartPage.jpg"
description='A search engine that anonymizes your Google searches, giving you Google quality results without giving up your privacy.'
country="nl"
website="https://startpage.com/"
%}

{% include card.html

title="DuckDuckGo"
image="/assets/img/provider/DuckDuckGo.jpg"
description='A search engine that does not track your searches.'
country="us"
website="https://duckduckgo.com/"
tor="http://3g2upl4pq6kufc4m.onion"
github="https://github.com/duckduckgo"

%}

{% include card.html

title="Mojeek"
image="/assets/img/provider/Mojeek.jpg"
description='Independent and unbiased search results with no user tracking.'
country="gb"
website="https://mojeek.com/"

%}

{% include card.html

title="SearX"
image="/assets/img/provider/Searx.png"
description='An open source metasearch engine, aggregating the results of other search engines while not storing information about its users. No logs, no ads and no tracking.'
website="https://searx.me"
github="https://github.com/asciimoo/searx"

%}