{% include card.html

title="Tresorit Send"
image="/assets/img/tools/TresoritSend.svg"
description="Tresorit Send brings secure file sharing to your fingertips, offering a secure alternative to unreliable file transfer sites and email attachments."
website="https://send.tresorit.com/"
web="https://send.tresorit.com/"
nocountry=""

%}

{% include card.html

title="Onion Share"
image="/assets/img/tools/OnionShare.png"
description="File sharing using the Tor network. The best way to share files that require the utmost protection and security."
website="https://onionshare.org/"
tor="http://lldan5gahapx5k7iafb3s4ikijc4ni7gx5iywdflkba5y2ezyg6sjgyd.onion"
mac="https://onionshare.org/"
windows="https://onionshare.org/"
linux="https://onionshare.org/"
github="https://github.com/micahflee/onionshare"
nocountry=""

%}
