{% include card.html

title="Bitwarden Send"
image="/assets/img/tools/bitwarden.svg"
description="From the makers of Bitwarden, the highly respected password manager, Bitwarden Send is a secure text and file sharing tool. Bitwarden Send supports file sharing of up to 100MBs each and is available in all Bitwarden clients."
website="https://bitwarden.com/"
nocountry=""
mac="https://bitwarden.com/#download"
ios="https://itunes.apple.com/app/bitwarden-free-password-manager/id1137397744?mt=8"
android="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden"
windows="https://bitwarden.com/#download"
linux="https://bitwarden.com/#download"
addon="https://bitwarden.com/#download"
web="https://bitwarden.com/#download"
github="https://github.com/bitwarden"
price="Free"

%}

{% include card.html

title="Tresorit Send"
image="/assets/img/tools/TresoritSend.svg"
description="Tresorit Send brings secure file sharing to your fingertips, offering a secure alternative to unreliable file transfer sites and email attachments."
website="https://send.tresorit.com/"
web="https://send.tresorit.com/"
nocountry=""

%}

{% include card.html

title="Onion Share"
image="/assets/img/tools/OnionShare.png"
description="File sharing using the Tor network. The best way to share files that require the utmost protection and security."
website="https://onionshare.org/"
tor="http://lldan5gahapx5k7iafb3s4ikijc4ni7gx5iywdflkba5y2ezyg6sjgyd.onion"
mac="https://onionshare.org/"
windows="https://onionshare.org/"
linux="https://onionshare.org/"
github="https://github.com/micahflee/onionshare"
nocountry=""

%}
