<h2>Facebook / Twitter</h2>

{% include card.html

title="Mastodon"
image="/assets/img/tools/Mastodon.png"
description="Mastodon is a social network based on open web protocols and free, open-source software. It is decentralized like e-mail. It also has the most users, and the most diverse (in terms of interests) users, looks good, and is easy to setup."
website="https://joinmastodon.org"
github="https://github.com/tootsuite/mastodon"
nocountry=""

%}

<h2>Instagram</h2>


{% include card.html

title="PixelFed"
image="/assets/img/provider/pixelfed.png"
description="PixelFed is an open source federated alternative to Instagram. This is a photo-oriented social network with filters, comments, likes, shares without the ads and tracking."
website="https://pixelfed.social"
github="https://github.com/pixelfed/pixelfed"
nocountry=""

%}
									
