
{% include card.html

title="Nextcloud"
image="/assets/img/provider/Nextcloud.png"
description="This is the top option for those more interested in self-hosting their cloud files. While some services do offer NextCloud as a subscription, I highly recommended going the self-hosted route with this."
website="https://nextcloud.com/"
github="https://github.com/nextcloud"
price="Free"
nocountry=""
mac="https://nextcloud.com/install/#install-clients"
ios="https://nextcloud.com/install/#install-clients"
android="https://nextcloud.com/install/#install-clients"
linux="https://nextcloud.com/install/#install-clients"
windows="https://nextcloud.com/install/#install-clients"

%}

{% include card.html

title="Tresorit"
image="/assets/img/provider/Tresorit.png"
description="Secure, encrypted, zero-knowledge cloud file storage. Cross platform and easy to use. This is a great solution for backing up your files, but does not work as a great solution for a Dropbox replacement as the mobile app lacks features."
website="https://www.tresorit.com"
price="$12 / mo"
country="ch"
mac="https://tresorit.com/download"
ios="https://apps.apple.com/us/app/tresorit/id722163232"
android="https://play.google.com/store/apps/details?id=com.tresorit.mobile"
linux="https://tresorit.com/download"
windows="https://tresorit.com/download"

%}

{% include card.html

title="Etesync"
image="/assets/img/provider/etesync.png"
description="EteSync is a secure, end-to-end encrypted, and privacy-respecting personal information (e.g. contacts and calendar) cloud synchronization and backup for Android, iOS, the web and any other OS (using a CalDAV/CardDAV bridge)."
website="https://www.etesync.com"
price="$24 / yr or self-host"
country="au"
mac="https://www.etesync.com/"
ios="https://apps.apple.com/us/app/tresorit/id722163232"
android="https://www.etesync.com/"
linux="https://www.etesync.com/"
windows="https://www.etesync.com/"
web="https://www.etesync.com/"
github="https://github.com/etesync"

%}

{% include card.html

title="Sync"
image="/assets/img/provider/Sync.jpg"
description="Sync makes it easy to store, share and access your files from just about anywhere. Best of all, Sync protects your privacy with end-to-end encryption — ensuring that your data in the cloud is safe, secure and 100% private."
website="https://www.sync.com"
price="Free"
country="ca"
mac="https://www.sync.com/install/"
ios="https://itunes.apple.com/us/app/sync.com/id917410266"
android="https://play.google.com/store/apps/details?id=com.sync.mobileapp"
windows="https://www.sync.com/install/"
web="https://www.sync.com/"

%}