
{% include card.html

title="ProtonVPN"
image="/assets/img/provider/ProtonVPN.png"
description='Unlike other VPN services, ProtonVPN is designed with security as the main focus, drawing upon the lessons we have learned from working with journalists and activists in the field.'
country="ch"
website="https://protonvpn.com/"
windows="https://protonvpn.com/download/"
ios="https://protonvpn.com/download/"
android="https://protonvpn.com/download/"
mac="https://protonvpn.com/download/"
linux="https://protonvpn.com/support/linux-vpn-setup/"
price="Free"

%}


{% include card.html

title="Mullvad"
image="/assets/img/provider/Mullvad.png"
description="Mullvad's service helps keep users' online activity, identity, and location private. Mullvad circumvents censorship and thwarts eavesdropping from Wi-Fi hackers to local-government mass surveillance. They keep no activity logs and require no personal information."
country="se"
website="https://mullvad.net"
windows="https://mullvad.net/en/download/"
ios="https://mullvad.net/en/download/#ios"
android="https://mullvad.net/en/download/#android"
mac="https://mullvad.net/en/download/"
linux="https://mullvad.net/en/download/"
github="https://github.com/mullvad"
price="60 € / year"

%}

{% include card.html

title="IVPN"
image="/assets/img/provider/IVPN.png"
description="IVPN is a leading VPN provider based in Gibaltar and featuring 77 servers in 31 countries. They offer a 3-day free trial and offer both mobile and desktop clients."
country="gi"
website="https://www.ivpn.net/"
windows="https://mullvad.net/en/download/"
ios="https://www.ivpn.net/apps-ios"
android="https://mullvad.net/en/download/#android"
mac="https://www.ivpn.net/apps-macos"
linux="https://www.ivpn.net/setup/gnu-linux.html"
price="$60 / year"

%}

					
