---
layout: default
---
							<header>
								<p>Welcome to ThinkPrivacy's temporary homepage. We recently joined the <a href="https://www.privacytools.io" target="_blank">privacytools.io</a> team which you can read about <a href="https://blog.privacytools.io/thinkprivacy-joins-privacytools/" target=_blank">here</a>.</p>

								<p>While we gear up to relaunch our brand new site, you can use the following tools below to better protect and control your personal information online.</p>
							</header>

							<div class="box alt">
								<div class="row gtr-uniform">

							{% include search.html %}

							{% include passwordmanager.html %}

							{% include 2fa.html %}

							{% include email.html %}

							{% include browser.html %}

							{% include messenger.html %}

							{% include vpn.html %}

							{% include backup.html %}

							{% include dns.html %}

							{% include updatesoftware.html %}

							{% include mobilepin.html %}

							{% include commonsense.html %}

							</div>
									</div>
