---
layout: default
title: With corporate and government sponsored surveillance programs exploiting your data for profit or motive, isn't it time you started to Think Privacy?
topimage: mobile.jpg
---
							<header>
								<p>Welcome to ThinkPrivacy. This site is a collection of apps, services, and advice on how to protect your data online. From messaging, emailing, and storage, keeping your data encrypted and private is critical in today's age of national surveillance by both the government and private organizations.</p>
							</header>


							<a class="indextitle" name="search"><h1>Search Engines</h1></a>
								{% include search.html %}
								<hr>

							<a class="indextitle" name="vpn"><h1>VPN & DNS</h1></a>
								{% include vpn.html %}
								<hr>

							<a class="indextitle" name="email"><h1>Email</h1></a>
								{% include email.html %}
								<hr>

							<a class="indextitle" name="browsers"><h1>Web Browsers</h1></a>
								{% include browsers.html %}
								<hr>

							<a class="indextitle" name="messaging"><h1>Messaging</h1></a>
								{% include messaging.html %}
								<hr>

							<a class="indextitle" name="password"><h1>Passwords and 2FA</h1></a>
								{% include password.html %}
								<hr>

							<a class="indextitle" name="storage"><h1>Cloud Storage</h1></a>
								{% include storage.html %}
								<hr>

							<a class="indextitle" name="sharing"><h1>File Sharing</h1></a>
								{% include sharing.html %}
								<hr>

							<a class="indextitle" name="notes"><h1>Notes & Office</h1></a>
								{% include notes.html %}
								<hr>

							<a class="indextitle" name="os"><h1>Operating Systems</h1></a>
								{% include os.html %}
								<hr>

							<a class="indextitle" name="blogging"><h1>Blogging</h1></a>
								{% include blogging.html %}
								<hr>

							<a class="indextitle" name="socialmedia"><h1>Social Media</h1></a>
								{% include socialmedia.html %}
								



					
