<p><strong>Use Instead Of:</strong> Google Authenticator, Authy.</p>

<h4><span class="editor">Editor's Choice</span></h4>
<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://www.tofuauth.com/" target="_blank">Tofu</a></td>
													<td>An easy-to-use, open-source two-factor authentication app designed specifically for iOS.</td>
												</tr>
																							
											</tbody>
										
										</table>
									</div>
<hr>
<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://cooperrs.de/otpauth.html" target="_blank">OTP Auth</a></td>
													<td>iOS based 2FA that respects your privacy.</td>
												</tr>
												<tr>
													<td><a href="https://github.com/andOTP/andOTP" target="_blank">andOTP</a></td>
													<td>andOTP is an open source two-factor authentication App for Android 4.4+.</td>
												</tr>
												<tr>
													<td><a href="https://freeotp.github.io/" target="_blank">FreeOTP</a></td>
													<td>FreeOTP is another open source two-factor authentication application for systems utilizing one-time password protocols. Availabe on both Android and iOS devices.</td>
												</tr>
																							
											</tbody>
										
										</table>
									</div>
