<p><strong>Use Instead Of:</strong> Google Chrome, Internet Explorer, Microsoft Edge.</p>

<h2>Desktop Browsers</h2>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>										
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://firefox.com" target="_blank">Firefox</a></td>
													<td>One of the most popular browsers on the market is always thinking privacy first and offers an amazingly fast, reliable browser.</td>
												</tr>
												<tr>
													<td><a href="https://torproject.org" target="_blank">Tor Browser</a></td>
													<td>Built on Firefox, Tor gives you an added layer of protection that helps make your location and information nearly invisible online. Why not use Tor daily? Some do, but it's a bit slower as it routes your traffic around the web. It's a great choice for using sites like Twitter and Facebook that are inherently insecure, though. Also, journalist and whistleblowers benefit greatly from this level of security.</td>
												</tr>					
											</tbody>
										</table>
									</div>

<h2>Mobile Browsers</h2>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>
													<th>Platform</th>										
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://www.mozilla.org/en-US/firefox/mobile/" target="_blank">Firefox & Firefox Focus</a></td>
													<td>Firefox for iOS and Android is a fast browser with great security settings. Firefox Focus is a private browser that doesn't track you and forgets everything you did when you close it.</td>
													<td>iOS, Android</td>
												</tr>
												<tr>
													<td><a href="https://onionbrowser.com/" target="_blank">Onion Browser</a></td>
													<td>Tor's recommended iOS browser. Use this on your mobile when you needed added security and privacy.</td>
													<td>iOS</td>
												</tr>
												<tr>
													<td><a href="https://www.torproject.org/download/#android" target="_blank">Tor Browser</a></td>
													<td>Tor's official Anroid browser. Protect yourself against tracking, surveillance, and censorship.</td>
													<td>Android</td>
												</tr>
												<tr>
													<td><a href="https://duckduckgo.com/app" target="_blank">DuckDuckGo</a></td>
													<td>A completely private browser that won't track you and burns it's memory with the click of a button.</td>
													<td>iOS, Android</td>
												</tr>							
											</tbody>
										</table>
									</div>

<h2>Desktop Extensions</h2>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://github.com/gorhill/uBlock" target="_blank">uBlockOrigin</a></td>
													<td>uBlockOrigin is a general-purpose blocker, or most well known as an ad-blocker, though it does so much more. This is a must have on any browser.</td>
													
												</tr>
												<tr>
													<td><a href="https://www.eff.org/https-everywhere" target="_blank">HTTPS Everywhere</a></td>
													<td>HTTPS Everywhere is a Firefox, Chrome, and Opera extension that encrypts your communications with many major websites, making your browsing more secure.</td>
													
												</tr>
												<tr>
													<td><a href="https://www.eff.org/privacybadger" target="_blank">Privacy Badger</a></td>
													<td>Privacy Badger blocks spying ads and invisible trackers.</td>
													
												</tr>
												<tr>
													<td><a href="https://decentraleyes.org/" target="_blank">Decentraleyes</a></td>
													<td>Protects you against tracking through “free”, centralized, content delivery. It prevents a lot of requests from reaching networks like Google Hosted Libraries, and serves local files to keep sites from breaking.</td>
													
												</tr>
												<tr>
													<td><a href="https://addons.mozilla.org/firefox/addon/cookie-autodelete/" target="_blank">Cookie AutoDelete</a></td>
													<td>Automatically removes cookies when they are no longer used by open browser tabs. With the cookies, lingering sessions, as well as information used to spy on you, will be expunged. </td>
													
												</tr>	
												<tr>
													<td><a href="https://spreadprivacy.com/privacy-simplified/" target="_blank">DuckDuckGo Privacy Essentials</a></td>
													<td>This add-on provides the privacy essentials you need to seamlessly take control of your personal information, no matter where the internet takes you: tracker blocking, smarter encryption, DuckDuckGo private search, and more.</td>
													
												</tr>	
												<tr>
													<td><a href="https://addons.mozilla.org/firefox/addon/umatrix/" target="_blank">uMatrix</a></td>
													<td>uMatrix gives you control over the requests that websites make to other websites. This gives you greater and more fine grained control over the information that you leak online.</td>
													
												</tr>
												<tr>
													<td><a href="https://addons.mozilla.org/firefox/addon/noscript/" target="_blank">NoScript Security Suite</a></td>
													<td>Highly customizable plugin to selectively allow Javascript, Java, and Flash to run only on websites you trust. Not for casual users, it requires technical knowledge to configure.</td>							
											</tbody>
										</table>
									</div>


