<div class="card">
<div class="float-left appimg">
<img src="{{include.image}}" class="applogo" alt="{{include.title}}">
</div>
<div class="float-left clear">
<h4>{{include.title}} {% if include.country %} - <i class="flag-icon flag-icon-{{include.country}}"></i> {% elsif include.nocountry %} &nbsp; {% else %} - Decentralized {% endif %}</h4>
</div>
<div class="card-body">
<p>{% if include.price %} <span class="appprice">{{include.price}}</span> {% endif %}</p>
<p>{{include.description}}</p>
<div class="float-left">
   <a href="{{include.website}}" target="_blank" class="appweb">Website</a>
   {% if include.tor %}<a href="{{include.tor}}" target="_blank" class="apptor">Tor</a>{% endif %}
</div> 
<div class="float-right">
          {% if include.mac %}<a href="{{include.mac}}" class="appicon" target="_blank"><span class="style2 fab fa-apple fa-2x"></span></a> &nbsp;{% endif %} 
          {% if include.windows %}<a href="{{include.windows}}" class="appicon" target="_blank"><span class="style2 fab fa-windows fa-2x"></span></a> &nbsp;{% endif %} 
          {% if include.ios %}<a href="{{include.ios}}" class="appicon" target="_blank"><span class="style2 fab fa-app-store-ios fa-2x"></span></a> &nbsp;{% endif %} 
          {% if include.android %}<a href="{{include.android}}" class="appicon" target="_blank"><span class="style2 fab fa-google-play fa-2x"></span></a> &nbsp;{% endif %} 
          {% if include.linux %}<a href="{{include.linux}}" class="appicon" target="_blank"><span class="style2 fab fa-linux fa-2x"></span></a> &nbsp;{% endif %}
          {% if include.addon %}<a href="{{include.addon}}" class="appicon" target="_blank"><span class="style2 fab fa-firefox fa-2x"></span></a> &nbsp;{% endif %}
          {% if include.web %}<a href="{{include.web}}" class="appicon" target="_blank"><span class="style2 fas fa-globe fa-2x"></span></a> &nbsp;{% endif %}   
          {% if include.github %}<a href="{{include.github}}" class="appicon" target="_blank"><span class="style2 fab fa-github fa-2x"></span></a> &nbsp;{% endif %} 
          {% if include.gitlab %}<a href="{{include.gitlab}}" class="appicon" target="_blank"><span class="style2 fab fa-gitlab fa-2x"></span></a> &nbsp;{% endif %}
          {% if include.git %}<a href="{{include.git}}" class="appicon" target="_blank"><span class="style2 fab fa-git-square fa-2x"></span></a> &nbsp;{% endif %}
          {% if include.source %}<a href="{{include.source}}" class="appicon" target="_blank"><span class="style2 fas fa-code-branch fa-2x"></span></a> &nbsp;{% endif %}
</div>  
</div>
</div>