<p><strong>Use:</strong> Instead of the DNS provided by your ISP.</p>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>									
                        </tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://www.opennic.org" target="_blank">OpenNIC</a></td>
													<td>OpenNIC is an alternate network information center/alternative DNS root which lists itself as an alternative to ICANN and its registries. Like all alternative root DNS systems, OpenNIC domains are unreachable to users not using OpenNIC DNS servers.</td>
												</tr>
												<tr>
													<td><a href="https://blahdns.com/" target="_blank">BlahDNS</a></td>
													<td>A small hobby ads block dns project with doh, dot, dnscrypt support.</td>
												</tr>
												<tr>
													<td><a href="https://dnscrypt.info/" target="_blank">DNSCrypt</a></td>
													<td>A protocol for securing communications between a client and a DNS resolver. The DNSCrypt protocol uses high-speed high-security elliptic-curve cryptography and is very similar to DNSCurve, but focuses on securing communications between a client and its first-level resolver. </td>
												</tr>
											</tbody>
										</table>
									</div>