<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>									
                        </tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://github.com/s-s/dnscloak" target="_blank">DNSCloak</a></td>
													<td>DNSCrypt is a protocol that authenticates communications between a DNS client and a DNS resolver. It prevents DNS spoofing. It uses signatures to verify that responses originate from the chosen DNS resolver and haven't been tampered with.</td>
													<td>iOS</td>
												</tr>
												<tr>
													<td><a href="https://github.com/DNSCrypt/dnscrypt-proxy" target="_blank">DNSCrypt-Proxy</a></td>
													<td>DNSCrypt-Proxy is a command-line DNS proxy with support for the encrypted DNS protocols, DNS over HTTPS and DNSCrypt. Can cache results to improve speed, and allows filtering, forwarding, and cloaking. </td>
													<td>Windows, Mac OS, Linux</td>
												</tr>	
												<tr>
													<td><a href="https://disconnect.me" target="_blank">Disconnect</a></td>
													<td>Tracking protection for your desktop or mobile browser. iOS includes SmartVPN features to encrypt all HTTP and DNS connections.</td>
													<td>iOS & Samsung</td>
												</tr>	

											</tbody>
										</table>
									</div>