<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact / Support ThinkPrivacy</h2>
								<ul class="icons">
									<!--<li><a href="https://matrix.to/#/#thinkprivacy:matrix.org" target="_blank" class="style2 fas fa-comments"><span class="footer-text"> Discussion</span></a></li>-->
									<li><a href="https://www.twitter.com/ThinkPrivacyIO" target="_blank" class="style2 fab fa-twitter"><span class="footer-text"> Twitter</span></a></li>
									<li><a href="https://fosstodon.org/@thinkprivacy" target="_blank" class="style2 fab fa-mastodon"><span class="footer-text"> Mastodon</span></a></li>
									<li><a href="{{ site.baseurl }}donate.html" class="style2 fas fa-donate"><span class="footer-text"> Donate</span></a></li>
									<!--<li><a href="https://www.reddit.com/r/thinkprivacy" target="_blank" class="style2 fab fa-reddit"><span class="footer-text"> Reddit</span></a></li>-->
									<li><a href="https://gitlab.com/thinkprivacy/thinkprivacy.io" target="_blank" class="style2 fab fa-gitlab"><span class="footer-text"> GitLab</span></a></li>
								</ul>
							</section>
							<section>
								<a href="https://www.namecheap.com" target="_blank"><img src="assets/images/namecheap_dark.png"></a>
							</section>
							<ul class="copyright">
								<li><a href="{{ site.baseurl }}about.html">About Us</a></li><!--<li><a href="{{ site.baseurl }}partners.html">Partners</a></li>--><li><a href="{{ site.baseurl }}privacy.html">Privacy Policy</a></li><li><a href="{{ site.baseurl }}contact.html">Contact Us!</a></li>
							</ul>						
						</div>
					</footer>