	<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{{ "/index.html" | relative_url }}">Home</a></li>
							<li><a href="{{ "/search.html" | relative_url }}">Search Engines</a></li>
							<li><a href="{{ "/email.html" | relative_url }}">Email</a></li>
							<li><a href="{{ "/messaging.html" | relative_url }}">Messaging</a></li>
							<li><a href="{{ "/browsers.html" | relative_url }}">Browsers & Privacy Add-ons</a></li>
							<li><a href="{{ "/vpn.html" | relative_url }}">VPN & DNS</a></li>
							<li><a href="{{ "/storage.html"  | relative_url }}">Storage</a></li>
							<li><a href="{{ "/password.html" | relative_url }}">Passwords & 2FA</a></li>
							<li><a href="{{ "/notes.html" | relative_url }}">Notes & Office</a></li>
							<li><a href="{{ "/os.html" | relative_url }}">Operating Systems</a></li>
							<li><a href="{{ "/blogging.html" | relative_url }}">Blogging</a></li>
							<li><a href="{{ "/socialmedia.html" | relative_url }}">Social Media</a></li>
							<li><a href="{{ "/blog.html" | relative_url }}">Our Blog</a></li>
							<li><a href="{{ "/about.html" | relative_url }}">About Us</a></li>
						</ul>
					</nav>