	<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{{ "/index.html" | relative_url }}">Home</a></li>
							<li><a href="{{ "#search" | relative_url }}">Search Engines</a></li>
							<li><a href="{{ "#email" | relative_url }}">Email</a></li>
							<li><a href="{{ "#messaging" | relative_url }}">Messaging</a></li>
							<li><a href="{{ "#browsers" | relative_url }}">Browsers & Privacy Add-ons</a></li>
							<li><a href="{{ "#vpn" | relative_url }}">VPN</a></li>
							<li><a href="{{ "#dns" | relative_url }}">DNS</a></li>
							<li><a href="{{ "#storage"  | relative_url }}">Storage</a></li>
							<li><a href="{{ "#sharing"  | relative_url }}">File Sharing</a></li>
							<li><a href="{{ "#password" | relative_url }}">Password Managers</a></li>
							<li><a href="{{ "#2fa" | relative_url }}">Two-Factor Authentication</a></li>
							<li><a href="{{ "#notes" | relative_url }}">Notes & Office</a></li>
							<li><a href="{{ "#os" | relative_url }}">Operating Systems</a></li>
							<li><a href="{{ "#mobile" | relative_url }}">Mobile</a></li>
							<li><a href="{{ "#blogging" | relative_url }}">Blogging</a></li>
							<li><a href="{{ "#socialmedia" | relative_url }}">Social Media</a></li>
						</ul>
					</nav>