<p><strong>Use Instead Of:</strong> WhatsApp, Facebook Messanger, Telegram, Text Messaging, Snapchat, Slack.</p>

<center><a href="messengers.html" class="button small">Compare Messenger Apps</a></center>

<h4><span class="editor">Editor's Choice</span></h4>
<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>									
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://signal.org" target="_blank">Signal</a></td>
													<td>Signal is a mobile app developed by Open Whisper Systems. The app provides instant messaging, as well as voice and video calling. All communications are end-to-end encrypted.</td>
												</tr>									
											</tbody>
										</table>
									</div>


<hr>
<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>									
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://wire.com" target="_blank">Wire</a></td>
													<td>A free software End-to-End Encrypted chatting application that supports instant messaging, voice, and video calls. <a href="https://www.vice.com/en_us/article/gvzw5x/secure-messaging-app-wire-stores-everyone-youve-ever-contacted-in-plain-text" target="_blank"><span class="metaflag">Meta Data Collection</span></a></td>
												</tr>
												<tr>
													<td><a href="https://wickr.com/" target="_blank">Wickr</a></td>
													<td>Wickr's a great office/team messenger with encrypted voice, video, and screen sharing- plus a perfect 5-star rating from the EFF!</td>
												</tr>
																						
											</tbody>
										</table>
									</div>



			