<p><strong>Use Instead Of:</strong> WhatsApp, Facebook Messanger, Telegram, Text Messaging, Snapchat, Slack.</p>

<center><a href="messengers.html" class="button small">Compare Messenger Apps</a></center>

<h4><span class="editor">Editor's Choice</span></h4>
<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>									
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://signal.org" target="_blank">Signal</a></td>
													<td>Signal is a mobile app developed by Open Whisper Systems. The app provides instant messaging, as well as voice and video calling. All communications are end-to-end encrypted.</td>
												</tr>									
											</tbody>
										</table>
									</div>


<hr>
<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>									
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://wickr.com/" target="_blank">Wickr</a></td>
													<td>Wickr's a great office/team messenger with encrypted voice, video, and screen sharing- plus a perfect 5-star rating from the EFF!</td>
												</tr>

												<tr>
													<td><a href="https://threema.ch/en/" target="_blank">Threema</a></td>
													<td>Threema is serious about maintaining their user's security and privacy. Their messaging and voice calling are both end-to-end encrypted, and you can sign up anonymously without a phone number or email address.</td>
												</tr>
																						
											</tbody>
										</table>
									</div>



			