<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>
													<th>Platform</th>											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://better.fyi/" target="_blank">Better Blocker</a></td>
													<td>Better is a privacy tool for Safari on iPhone, iPad, and Mac. It protects you from behavioural ads and companies that track and profile you on the web.</td>
													<td>iOS</td>
												</tr>	
												<tr>
													<td><a href="https://blokada.org/" target="_blank">Blokada</a></td>
													<td>If you want to efficiently blocks ads, trackers and malwares, if want to save your data plan, make your device faster and protect your privacy with one application, Blokada is for you. It is free, secure and open source.</td>
													<td>Android</td>
												</tr>						
											</tbody>
										</table>
									</div>									

