<h2>Mobile Browsers</h2>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>
													<th>Platform</th>										
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://www.mozilla.org/en-US/firefox/mobile/" target="_blank">Firefox & Firefox Focus</a></td>
													<td>Firefox for iOS and Android is a fast browser with great security settings. Firefox Focus is a private browser that doesn't track you and forgets everything you did when you close it.</td>
													<td>iOS, Android</td>
												</tr>
												<tr>
													<td><a href="https://onionbrowser.com/" target="_blank">Onion Browser</a></td>
													<td>Tor's recommended iOS browser. Use this on your mobile when you needed added security and privacy.</td>
													<td>iOS</td>
												</tr>
												<tr>
													<td><a href="https://https://www.torproject.org/" target="_blank">Tor Browser</a></td>
													<td>Tor's recommended iOS browser. Use this on your mobile when you needed added security and privacy.</td>
													<td>Android</td>
												</tr>
												<tr>
													<td><a href="https://duckduckgo.com/app" target="_blank">DuckDuckGo</a></td>
													<td>A completely private browser that won't track you and burns it's memory with the click of a button.</td>
													<td>iOS, Android</td>
												</tr>							
											</tbody>
										</table>
									</div>

<h2>Security Apps</h2>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>
													<th>Platform</th>											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://better.fyi/" target="_blank">Better Blocker</a></td>
													<td>Better is a privacy tool for Safari on iPhone, iPad, and Mac. It protects you from behavioural ads and companies that track and profile you on the web.</td>
													<td>iOS</td>
												</tr>
												<tr>
													<td><a href="https://github.com/s-s/dnscloak" target="_blank">DNSCloak</a></td>
													<td>DNSCrypt is a protocol that authenticates communications between a DNS client and a DNS resolver. It prevents DNS spoofing. It uses signatures to verify that responses originate from the chosen DNS resolver and haven't been tampered with.</td>
													<td>iOS</td>
												</tr>
												<tr>
													<td><a href="https://disconnect.me" target="_blank">Disconnect</a></td>
													<td>Tracking protection for your desktop or mobile browser. iOS includes SmartVPN features to encrypt all HTTP and DNS connections.</td>
													<td>iOS & Samsung</td>
												</tr>							
											</tbody>
										</table>
									</div>									

<h2>Mobile OS</h2>

<p>If you're using an Android device, it is highly recommended you install an alternative OS, which are listed below.</p>


<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Cost</th>												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://www.lineageos.org/" target="_blank">LineageOS</a></td>
													<td>A free and open-source operating system for smartphones and tablet computers, based on the Android mobile platform.</td>
													<td>Free</td>
												</tr>
												<tr>
													<td><a href="https://sailfishos.org/" target="_blank">Sailfish OS</a></td>
													<td>Sailfish OS offers a true independent alternative to the existing dominant mobile operating systems.</td>
													<td>Free</td>
												</tr>
											
												
											</tbody>
										
										</table>
									</div>