<h2>Browsers</h2>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>
													<th>Platform</th>										
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://www.mozilla.org/en-US/firefox/mobile/" target="_blank">Firefox & Firefox Focus</a></td>
													<td>Firefox for iOS and Android is a fast browser with great security settings. Firefox Focus is a private browser that doesn't track you and forgets everything you did when you close it.</td>
													<td>iOS, Android</td>
												</tr>
												<tr>
													<td><a href="https://onionbrowser.com/" target="_blank">Onion Browser</a></td>
													<td>Tor's recommended iOS browser. Use this on your mobile when you needed added security and privacy.</td>
													<td>iOS</td>
												</tr>
												<tr>
													<td><a href="https://https://www.torproject.org/" target="_blank">Tor Browser</a></td>
													<td>Tor's recommended iOS browser. Use this on your mobile when you needed added security and privacy.</td>
													<td>Android</td>
												</tr>
												<tr>
													<td><a href="https://duckduckgo.com/app" target="_blank">DuckDuckGo</a></td>
													<td>A completely private browser that won't track you and burns it's memory with the click of a button.</td>
													<td>iOS, Android</td>
												</tr>							
											</tbody>
										</table>
									</div>

<h2>Privacy Related Apps</h2>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Product</th>
													<th>Description</th>
													<th>Platform</th>											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://better.fyi/" target="_blank">Better Blocker</a></td>
													<td>Better is a privacy tool for Safari on iPhone, iPad, and Mac. It protects you from behavioural ads and companies that track and profile you on the web.</td>
													<td>iOS</td>
												</tr>
												<tr>
													<td><a href="https://github.com/s-s/dnscloak" target="_blank">DNSCloak</a></td>
													<td>DNSCrypt is a protocol that authenticates communications between a DNS client and a DNS resolver. It prevents DNS spoofing. It uses signatures to verify that responses originate from the chosen DNS resolver and haven't been tampered with.</td>
													<td>iOS</td>
												</tr>
												<tr>
													<td><a href="https://disconnect.me" target="_blank">Disconnect</a></td>
													<td>Tracking protection for your desktop or mobile browser. iOS includes SmartVPN features to encrypt all HTTP and DNS connections.</td>
													<td>iOS & Samsung</td>
												</tr>		
												<tr>
													<td><a href="https://blokada.org/" target="_blank">Blokada</a></td>
													<td>If you want to efficiently blocks ads, trackers and malwares, if want to save your data plan, make your device faster and protect your privacy with one application, Blokada is for you. It is free, secure and open source.</td>
													<td>Android</td>
												</tr>	
												<tr>
													<td><a href="https://www.netguard.me/" target="_blank">NetGuard</a></td>
													<td>NetGuard provides simple and advanced ways to block access to the internet - no root required.
													Applications and addresses can individually be allowed or denied access to your Wi-Fi and/or mobile connection.</td>
													<td>Android</td>
												</tr>						
											</tbody>
										</table>
									</div>									

<h2>Mobile OS</h2>

<p>If you're going to stick with a mainstream OS, we recommend using Apple's iOS over Android. If you are going to use Android, and are comfortable installing your own OS on your device, we recommend using one of the alternative OSes below.</p>


<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://grapheneos.org/" target="_blank">GrapheneOS</a></td>
													<td>GrapheneOS is a free and open-source security and privacy focused mobile operating system built on top of the Android Open Source Project, only supporting devices offering strong hardware security.</td>
												</tr>
												<tr>
													<td><a href="https://www.lineageos.org/" target="_blank">LineageOS</a></td>
													<td>A free and open-source operating system for smartphones and tablet computers, based on the Android mobile platform.</td>
												</tr>
												<tr>
													<td><a href="https://ubuntu-touch.io" target="_blank">Ubuntu Touch</a></td>
													<td>Ubuntu Touch is a free and open-source operating system for smartphones and tablets. It's an alternative to the current popular mobile operating systems on the market.</td>
												</tr>
												<tr>
													<td><a href="https://www.replicant.us/" target="_blank">Replicant</a></td>
													<td>Replicant is a fully free Android distribution running on several devices,
													a free software mobile operating system putting the emphasis on freedom and privacy/security</td>
												</tr>
											
												
											</tbody>
										
										</table>
									</div>
