<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/service-recommendations/">Our Recommendations</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}checklist.html">Privacy Checklist</a></li>
    <li class="nav-about" role="menuitem"><a href="https://gitlab.com/thinkprivacy/thinkprivacy.io" target="_blank">Contribute</a></li>   
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}donate.html">Donate</a></li>       
</ul>
