<p><strong>Use Instead Of:</strong> Using the same password for every website login.</p>

<h4><span class="editor">Editor's Choice</span></h4>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Cost</th>												
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://bitwarden.com" target="_blank">Bitwarden</a></td>
													<td>So easy to use, cross-platform (Mac, Windows, Linux, iOS, Android) application. The web app and browser plugin are fantastic and the password generator is incredibly helpful.</td>
													<td>Free</td>
												</tr>
												
												
												
												
												
											</tbody>
										
										</table>
									</div>
<hr>
<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Cost</th>												
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://1password.com" target="_blank">1Password</a></td>
													<td>Go ahead. Forget your passwords. 1Password remembers them all for you. Save your passwords and log in to sites with a single click. It's that simple. </td>
													<td>$2.99/mo</td>
												</tr>
												<tr>
													<td><a href="https://lastpass.com" target="_blank">LastPass</a></td>
													<td>LastPass remembers all your passwords, so you don't have to.</td>
													<td>Free</td>
												</tr>
												
												
												
												
												
											</tbody>
										
										</table>
									</div>

					
