<p><strong>Use Instead Of:</strong> Using the same password for every website login.</p>

<h2>Password Managers</h2>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Skill Level</th>
													<th>Cost</th>												
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://bitwarden.com" target="_blank">Bitwarden</a></td>
													<td>So easy to use, cross-platform (Mac, Windows, Linux, iOS, Android) application. The web app and browser plugin are fantastic and the password generator is incredibly helpful.</td>
													<td>Beginner</td>
													<td>Free</td>
												</tr>
												<tr>
													<td><a href="https://keepassxc.org/" target="_blank">KeePassXC</a></td>
													<td>The thing computers can do best is storing information.
													You shouldn't waste your time trying to remember and type your passwords.
													KeePassXC can store your passwords safely and auto-type them into your everyday websites and applications. </td>
													<td>Intermediate</td>
													<td>Free</td>
												</tr>
												<tr>
													<td><a href="/go/1password/" target="_blank">1Password</a></td>
													<td>Without a doubt, this may be the best password management solution around. It is, however, the most expensive as well, but often times they say you get what you pay for. If you have the budget for it, consider giving this one a spin.</td>
													<td>Beginner</td>
													<td>$2.99/mo</td>
												</tr>
												<tr>
													<td><a href="https://dashlane.com" target="_blank">Dashlane</a></td>
													<td>Easy to use, works on multiple platforms. The browser plugin makes creating brand new passwords a snap, and it makes changing existing passwords even easier. Certainly one of the best bangs for your buck.</td>
													<td>Beginner</td>
													<td>Free</td>
												</tr>
												<tr>
													<td><a href="https://www.lastpass.com" target="_blank">LastPass</a></td>
													<td>One of the best known passowrd managers out there and even one of the least expensive. They do offer some desktop apps, but seems to work best when using it in the browser or mobile device. A lot of the same features as Dashlane.</td>
													<td>Beginner</td>
													<td>Free</td>
												</tr>
												
												
												
												
											</tbody>
										
										</table>
									</div>

<h2>Two-Factor Authentication</h2>

<p><strong>Use Instead Of:</strong> Google Authenticator.</p>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>											
												</tr>
											</thead>
											<tbody>

												<tr>
													<td><a href="https://www.tofuauth.com/" target="_blank">Tofu</a></td>
													<td>An easy-to-use, open-source two-factor authentication app designed specifically for iOS.</td>
												</tr>
												<tr>
													<td><a href="https://cooperrs.de/otpauth.html" target="_blank">OTP Auth</a></td>
													<td>iOS based 2FA that respects your privacy.</td>
												</tr>
												<tr>
													<td><a href="https://authy.com/" target="_blank">Authy</a></td>
													<td>Simple to setup, secure cloud backup, multi device support.</td>
												</tr>
												<tr>
													<td><a href="https://github.com/andOTP/andOTP" target="_blank">andOTP</a></td>
													<td>andOTP is an open source two-factor authentication App for Android 4.4+.</td>
												</tr>
												<tr>
													<td><a href="https://freeotp.github.io/" target="_blank">FreeOTP</a></td>
													<td>FreeOTP is another open source two-factor authentication application for systems utilizing one-time password protocols. Availabe on both Android and iOS devices.</td>
												</tr>
																							
											</tbody>
										
										</table>
									</div>


					
