<h2>File Sharing</h2>

<p><strong>Use Instead Of:</strong> Dropbox, Google Drive, Microsoft OneDrive.</p>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>										
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://onionshare.org" target="_blank">OnionShare</a></td>
													<td>File sharing using the Tor network. The best way to share files that require the utmost protection and security.</td>
												</tr>
												<tr>
													<td><a href="https://send.firefox.com/" target="_blank">Firefox Send</a></td>
													<td>Send uses end-to-end encryption to keep your data secure from the moment you share to the moment your file is opened. It also offers security controls that you can set. You can choose when your file link expires, the number of downloads, and whether to add an optional password for an extra layer of security.</td>
												</tr>
										
												
											</tbody>
										
										</table>
									</div>