<p><strong>Use Instead Of:</strong> Dropbox, Google Drive, Microsoft OneDrive, Google Sync, iCloud.</p>

<h4><span class="editor">Editor's Choice</span></h4>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Cost</th>												
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://nextcloud.com" target="_blank">Nextcloud</a></td>
													<td>This is the top option for those more interested in self-hosting their cloud files. While some services do offer NextCloud as a subscription, I highly recommended going the self-hosted route with this.</td>
													<td>Free - Enterprise</td>
												</tr>
												
											</tbody>
										</table>
										<p>Need a server? We recommend hosting at <a href="https://m.do.co/c/1c2110f7156e" target="_blank">DigitalOcean</a></p>
									</div>
<hr>

<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Cost</th>												
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="https://tresorit.com/" target="_blank">Tresorit</a></td>
													<td>If you're not able to self-host, I can't think of a better solution than Tresorit. Well priced and feature rich, this will make you forget about Dropbox the first time you open it.</td>
													<td>$12/mo</td>
												</tr>
												<tr>
													<td><a href="https://spideroak.com/one/" target="_blank">SpiderOak One</a></td>
													<td>Secure, encrypted, zero-knowledge cloud file storage. Cross platform and easy to use. This is a great solution for backing up your files, but does not work as a great solution for a Dropbox replacement as the mobile app lacks features.</td>
													<td>$5/mo</td>
												</tr>
												<tr>
													<td><a href="https://www.etesync.com/" target="_blank">EteSync</a></td>
													<td>EteSync is a secure, end-to-end encrypted and journaled personal information (e.g. contacts and calendar) cloud synchronization and backup for Android and any OS that supports CalDAV/CardDAV.</td>
													<td>$2/mo or Self-host</td>
												</tr>	
												<tr>
													<td><a href="https://sync.com" target="_blank">Sync</a></td>
													<td>Sync makes it easy to store, share and access your files from just about anywhere. Best of all, Sync protects your privacy with end-to-end encryption — ensuring that your data in the cloud is safe, secure and 100% private.</td>
													<td>Free</td>
												</tr>
											</tbody>
										
										</table>
									</div>




					
