<p><strong>Use:</strong> Whenever you're connected to the internet. Most importantly when on any public wifi.</p>

<h4><span class="editor">Editor's Choice</span></h4>
<div class="table-wrapper">
                    <table>
                      <thead>
                           <tr>
          <th>Provider</th>
          <th>Yearly Cost</th>
          <th>Trial</th>
          <th>Jurisdiction</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-value="ProtonVPN">
            <a href="/go/protonvpn/" target="_blank">ProtonVPN</a>
          </td>
          <td>Free</td>
          <td><span>Yes</span></td>
          <td><span class="flag-icon flag-icon-ch"></span> Switzerland</td>
        </tr>

                      </tbody>
                    </table>
                  </div>

<hr>

<div class="table-wrapper">
										<table>
											<thead>
												   <tr>
          <th>Provider</th>
          <th>Yearly Cost</th>
          <th>Trial</th>
          <th>Jurisdiction</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-value="Mullvad">
            <a href="https://mullvad.net/" target="_blank">Mullvad</a>
          </td>
          <td>60 €</td>
          <td><span>3 Hour</span></td>
          <td><span class="flag-icon flag-icon-se"></span> Sweden</td>
        </tr>
        <tr>
          <td data-value="NordVPN">
            <a href="/go/nordvpn/" target="_blank">Nord VPN</a>
          </td>
          <td>$83.88</td>
          <td><span>30 Day Money Back</span></td>
          <td><span class="flag-icon flag-icon-pa"></span> Panama</td>
        </tr>        
        <tr>
          <td data-value="IVPN">
            <a href="https://www.ivpn.net/" target="_blank">IVPN</a>
          </td>
          <td>$100</td>
          <td><span>7 Day Money Back</span></td>
          <td><span class="flag-icon flag-icon-gi"></span> Gibraltar</td>
        </tr>
        <!-- <tr>
          <td data-value="SurfShark">
            <a href="/go/surfshark/" target="_blank">Surfshark</a>
          </td>
          <td>$69.99</td>
          <td><span>30 Day Money Back</span></td>
          <td><span class="flag-icon flag-icon-vg"></span> British Virgin Islands</td>
        </tr> -->

											</tbody>
										</table>
									</div>


					
